
$primary-color: #212134;
$primary-color-trans: #2121349c;
$border-line: #29293e;
$body-bg: #181826;
$card-color: $primary-color-trans;
$secondary-color:#1e1e2e;
$theme-primary: rgb(74, 154, 204);
$primary-button:#4945FF;

$theme-filter:brightness(0) saturate(100%) invert(85%) sepia(29%) saturate(606%) hue-rotate(339deg) brightness(104%) contrast(99%);
