$primary-color: #24344b;
$body-bg: linear-gradient(
  90deg,
  rgba(239, 246, 255, 1) 0%,
  rgba(246, 250, 255, 1) 53%,
  rgba(217, 231, 247, 1) 100%
);
$card-color: #f9fcfe;
$theme-primary: rgb(74, 154, 204);
