@import "../../styles/palette.scss";
$context-menu-foreground: rgb(207, 207, 207);
$context-menu-hover: #5b5c72;
$context-menu-background: #72738f;
.option-heading {
  font-size: 0.75rem;
  text-align: center;
  color: rgb(233, 233, 233);
}
.portions-container {
  padding: 8px 8px;

  .portions {
    display: flex;
    justify-content: center;
    button {
      background: none;
      border: 1px solid $border-line;
      color: $context-menu-foreground;
      padding: 1px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 4px 3px;
      border-radius: 32px;
      &:hover {
        background-color: $border-line;
      }
    }
  }
  .extra-padded {
    button {
      padding: 3px 8px;
    }
  }
}
//custom input
.custom-input-wrapper {
  margin: 4px 0px;
  display: flex;
  justify-content: center;
  height: 35px;
  .custom-input {
    display: flex;
    border-radius: 6px;
    border: 1px solid $border-line;
    width: 85px;
    height: 100%;
    background: $body-bg;
    input {
      flex-grow: 1;
      text-align: center;
      background: none;
      border: none;
      color: $context-menu-foreground;
      font-size: 14px;
      height: 100%;
      padding: 0px 0px;
      &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      &::placeholder {
        color: $context-menu-foreground;
        opacity: 0.7;
      }
    }
    .input-type {
      color: white;
      width: 30px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      background: #7a77ff7a;
      border-radius: 0 4px 4px 0;
      font-family: sans-serif;
      &:hover {
        filter: brightness(1.1);
        cursor: pointer;
      }
    }
  }
  button {
    background: none;
    margin-left: 5px;
    height: 100%;
    font-size: 14px;
    color: $context-menu-foreground;
    border: 1px solid $border-line;
    &:hover {
      background-color: $border-line;
    }
  }
}

.delete-wrapper {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  font-size: 0.7rem;
  cursor: pointer;
  &:hover {
    span,
    img {
      filter: brightness(50%) sepia(100) saturate(100) hue-rotate(8deg);
    }
  }
  img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
  span {
    font-weight: 300;
    margin-left: 8px;
    color: $context-menu-foreground;
  }
}

hr {
  margin: 0;
  border-top: 2px solid $border-line;
  color: $border-line;
}
