@import "../../styles/palette.scss";

.table-container {
  border: 1px solid $border-line;
  border-radius: 4px;
  height: 100%;
  .mat-mdc-table {
    background: none;
  }

  .mat-mdc-table .mdc-data-table__row {
    height: 40px;
  }
  .mat-mdc-table .mdc-data-table__cell {
    border-bottom-color: $border-line;
  }

  .mat-column-split_amount {
    color: rgb(254 221 147);
    padding-right: 0px;
  }
  .mat-column-name {
    text-transform: capitalize;
    color: rgb(224, 224, 224);
    img {
      margin-top: -3px;
      width: 14px;
      filter: $theme-filter;
    }
  }
  .mat-column-food_amount {
    color: rgb(194, 194, 194);
  }

  .split-header,
  .name-header,
  .food-header {
    color: rgb(255, 255, 255);
  }
}

@media only screen and (max-width: 576px) {
  .mat-column-name {
    width: 40%;
  }
  .mat-mdc-table .mdc-data-table__row {
    height: 35px;
  }
  th,
  td {
    font-size: 0.7rem;
  }
}
