<div class="hamburger-menu">
  <input id="toggle-menu" type="checkbox" />
  <label class="menu-btn" for="toggle-menu">
    <span></span>
  </label>
  <ul class="menu-box">
    <div class="logo-wrapper">
      <a href="https://github.com/jobeljohny/split-me" target="_blank">
        <img src="../../../assets/main-logo.png" alt="split-me" />
      </a>
      <p>Split Me</p>
    </div>
    <li (click)="onHelp()">
      <a class="menu-item">
        <span class="item-logo">
          <img src="../.././../assets/sidebar_info.svg" />
        </span>
        About</a
      >
    </li>
    <li>
      <a class="menu-item" href="mailto:jobeljohny@gmail.com">
        <span class="item-logo">
          <img src="../.././../assets/sidebar_mail.svg" />
        </span>
        Contact</a
      >
    </li>
    <li>
      <a
        class="menu-item"
        href="https://github.com/jobeljohny/split-me/issues/new"
        target="_blank"
      >
        <span class="item-logo">
          <img src="../.././../assets/sidebar_bug.svg" />
        </span>
        Report an issue</a
      >
    </li>
    <div class="visit-panel">
      <a href="https://github.com/jobeljohny/split-me">Visit Us</a>
    </div>
  </ul>
</div>
