<!-- Modal HTML -->
<img
  id="remove-button"
  src="../../../assets/cancel.png"
  (click)="dialogRef.close()"
/>
<div class="dialog-body">
  <p class="lead">View the summary by scanning this QR code</p>
  <div *ngIf="isLoading" class="spinner-wrapper">
    <mat-spinner color="blue" mode="indeterminate"></mat-spinner>
  </div>

  <div class="qr-info-wrapper" [style.opacity]="isLoading ? 0.1 : 1">
    <img src="../../../assets/scan-phone.png" alt="" />
    <qrcode
      [qrdata]="link"
      [width]="256"
      [errorCorrectionLevel]="'M'"
      [colorLight]="'#fffef7'"
      (qrCodeURL)="onChangeURL($event)"
    ></qrcode>
  </div>
</div>
