.profiles-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .profile-drag-preview {
    .preview-profile-wrapper {
      display: flex;
  
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-right: 24px;
  
      img {
        width: 34px;
        height: 34px;
      }
      span {
        font-size: 0.8rem;
      }
    }
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  //cdk drag

.cdk-drag-preview {
    opacity: 0.8;
  }
  .cdk-drag-placeholder {
    opacity: 0;
  }