<div class="people-card p-3 mb-2 card-container">
  <div class="import-export-container">
    <input
      matTooltip="import profiles"
      type="file"
      class="filepicker"
      (change)="onFileInput($event)"
    />
    <img
      matTooltip="export profiles"
      src="assets/icons/save-icon.svg"
      alt="export.png"
      (click)="export()"
    />
  </div>
  <h3 class="lead" style="text-align: center">PROFILES</h3>
  <div
    cdkDropList
    cdkDropListSortingDisabled
    id="profile-wrap-list"
    [cdkDropListConnectedTo]="(paletteIDs | async)!"
    class="profiles-wrapper"
  >
    <span *ngIf="!(profiles | async)?.length" class="lead help-placeholder"
      >Manage your profiles by adding or importing them here</span
    >
    <div
      *ngFor="let profile of (profiles | async)"
      cdkDrag
      [cdkDragData]="profile"
      (cdkDragStarted)="dragStarted($event, profile)"
      (cdkDragEnded)="dragEnded()"
    >
      <app-name-profile
        [profileData]="profile"
        (removeUser)="removeProfile($event)"
        [isSelectionEnabled]="selectionEnabled"
      ></app-name-profile>
      <div *cdkDragPreview class="profile-drag-preview">
        <app-profile-drag-preview
          [people]="profile"
          [selections]="selections"
        ></app-profile-drag-preview>
      </div>
      <div *cdkDragPlaceholder>
        <app-name-profile
          [profileData]="profile"
          (removeUser)="removeProfile($event)"
        ></app-name-profile>
      </div>
    </div>

    <span style="display: flex; justify-content: center">
      <button
        matTooltip="New profile"
        type="button"
        class="btn-profile"
        (click)="onAddProfile()"
      >
        <span>+</span>
      </button>
    </span>
  </div>
</div>
