@import "../../styles/palette.scss";

.people-card {
  position: relative;
  background-color: $card-color;
}

.import-export-container {
  position: absolute;
  top: 16px;
  right: 16px;
  img,
  input {
    margin-left: 14px;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.profiles-wrapper {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .help-placeholder {
    margin-bottom: 10px;
    font-size: 0.9rem;
    opacity: 0.6;
    width: 100%;
    text-align: center;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.import-export-container {
  img {
    width: 30px;
    height: 30px;
  }
  .filepicker {
    width: 30px;
    height: 30px;
    text-indent: 100em;
    background: url("../../../assets/import.png");
    background-size: 100% 100%;
    overflow: hidden;
    cursor: pointer;
    outline: none;
  }
}
.btn-profile {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 14px;
  margin-left: 14px;
  span {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
//cdk drag

.cdk-drag-preview {
  opacity: 1;
}
.cdk-drag-placeholder {
  opacity: 0;
}
