input {
  border-radius: 20px;
  text-align: center;
  border: none;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.dish-name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.mat-mdc-option {
  min-height: 38px;
  font-family: "Tahoma", sans-serif;
  font-size: 0.85rem;
}
