@import "../../styles/palette.scss";

.navbar {
  background: $primary-color;

  padding: 0px;
  height: 45px;
  z-index: 1;
  .container-fluid {
    .start-set {
      display: flex;
      .navbar-brand {
        margin-left: 30px; //to accomodate fixed position buffer for hamburger toggle
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          transform: rotate(15deg);
        }
        p {
          margin-bottom: 2px;
          margin-left: 5px;
          font-weight: 500;
          font-size: 1rem;
          color: white;
        }
      }
    }
  }
}
