<nav class="navbar">
  <div class="container-fluid">
    <div class="start-set">
      <app-header-hamburger></app-header-hamburger>
      <a class="navbar-brand" href="#">
        <img
          src="../../../favicon.ico"
          alt=""
          width="28"
          class="d-inline-block align-text-top"
        />
        <p>Split Me</p>
      </a>
    </div>
    <div class="right-options">
      <div class="room-btn">
        <img
          *ngIf="roomStatus == 'idle'"
          src="assets/icons/group-icon.svg"
          matTooltip="Create room"
          (click)="initiateShare()"
        />
        <img
          class="exit-icon"
          *ngIf="roomStatus == 'connected'"
          src="assets/icons/exit-group-icon.svg"
          matTooltip="Exit room"
          (click)="exitRoom()"
        />
        <app-loading-bubbles
          *ngIf="roomStatus == 'connecting'"
          [size]="5"
        ></app-loading-bubbles>
      </div>
      <app-help-button></app-help-button>
    </div>
  </div>
</nav>
