.content {
  position: relative;
  height: 100%;
  .logo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50%;
      opacity: 0.05;
    }
  }
  .release-container {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    ul {
      li {
        color: rgb(230, 230, 230);
      }
    }
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 32px;
  }
  a {
    margin-left: 8px;
    text-decoration: none;
    color: rgb(138, 150, 182);
    padding: 5px;
    border: 1px solid rgb(138, 150, 182);
    border-radius: 8px;
    &:hover {
      background-color: rgb(138, 150, 182);
      color: rgb(0, 0, 82);
    }
  }
}

@media only screen and (max-width: 576px) {
  .content {
    .release-container {
      margin-top: 5px;
      margin-left: 5px;
      ul {
        li {
          font-size: 0.7rem;
        }
      }
    }
    .header {
      font-size: 0.8rem;
      margin-top: 4px;
      margin-bottom: 8px;
    }
    #header {
      font-size: 1rem;
      margin-bottom: 4px;
    }
    .sub-head {
      font-size: 0.8rem;
      margin-bottom: 4px;
    }
    h4 {
      font-size: 0.7rem;
      a {
      }
    }
  }
}
