<div class="content">
  <div class="logo">
    <img src="../../../../assets/main-logo.png" alt="logo" />
  </div>
  <div class="header lead">Release Notes</div>
  <div class="release-container">
    <h1 id="header">Split-Me Release notes 3.0 🚀</h1>
    <h3 class="sub-head">improvements 🛠️</h3>
    <ul>
      <li>Switching to stealth mode - dark theme now ruling the interface</li>
      <li>
        Guess what decided to join the party fashionably late? The Help Page!
      </li>
      <li>New and Improved UI and Accessibility</li>
      <li>
        Introducing the upgraded details modal: now with sleek graphical stats
      </li>
      <li>Inter-Palette dragging now supported</li>
      <li>New and update food palette</li>
      <li>Individual's context menu now support different splitting options</li>
      <li>Minor perfomance improvements and framework updations</li>
    </ul>
    <h3 class="sub-head">bug fixes 🐞</h3>
    <ul>
      <li>Fixed drag distortion issue</li>
      <li>Fixed few mobile UI glitches</li>
      <li>Fixed autocomplete UI inconsitencies</li>
      <li>Minor UI Bug fixes</li>
    </ul>
    <h4 id="previous-release-notes">
      previous release notes :
      <a
        href="https://github.com/jobeljohny/split-me/blob/main/release%20notes/release-notes.md"
        >releases</a
      >
    </h4>
  </div>
</div>
