<div class="details-panel shadow-lg p-3 mb-2 rounded card-container lead">
  <h3 class="lead" style="text-align: center">Details</h3>
  <div class="amounts-container">
    <div class="amount-item">
      <div class="label">Food price&nbsp; 💵</div>
      <div class="value">₹ {{ totalFoodBill }}</div>
    </div>
    <div class="amount-item">
      <div class="label">Bill amount 💵</div>
      <div class="value">₹ {{ finalTotal }}</div>
    </div>
  </div>
  <app-tax-discount-panel></app-tax-discount-panel>
  <div class="individual-cont-panel" (click)="calcFinalTotal()">
    view individual splits
  </div>

  <app-detail-modal #DetailModal></app-detail-modal>
</div>
