@import "../../styles/palette.scss";

.details-panel {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  gap: 8px;
  border: 2px solid $border-line;
  background-color: $card-color;

  .amounts-container {
    width: 100%;
    display: flex;
    background-color: #29293b;
    padding: 20px 10px;
    padding-left: 20px;
    border-radius: 4px;

    app-amount-display {
      flex: 1;
    }
  }

  .individual-cont-panel {
    font-size: 0.8rem;
    padding: 8px 6px;
    width: 100%;
    margin: 8px 0px;
    margin-top: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: #3e3d65;
    text-transform: capitalize;
    img {
      width: 18px;
      filter: invert(1);
      margin-left: 2px;
    }

    &:hover {
      filter: brightness(1.1);
    }
  }
}
