@import "../../styles/palette.scss";

.details-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $card-color;
  .amounts-container {
    .amount-item {
      font-size: 1rem;
      display: flex;

      div {
        background-color: rgb(244, 246, 255);
        border: 1px solid white;
        padding: 8px 12px;
      
        &.label {
          width: 140px;
          font-size: 1rem;
        }
        &.value {
          width: 125px;
          font-weight: 400;
        }
      }
    }
  }

  .individual-cont-panel {
    margin-top: 24px;
    font-size: 1rem;
    background-color: rgb(241, 200, 200);
    padding: 10px 16px;
    border: 1px solid $primary-color;
    background: rgb(251, 251, 255);
    cursor: pointer;
    border-radius: 20px;
    &:hover {
      background: $primary-color;
      color: white;
    }
  }
}
