<div class="details-panel p-4 mb-2 card-container lead">
  <h3 style="text-align: center">DETAILS</h3>

  <div class="amounts-container">
    <app-amount-display
      [title]="'Dish Prices'"
      [logoSrc]="'assets/icons/dish-icon.svg'"
      [amount]="(total$ | async)!"
    ></app-amount-display>
    <app-amount-display
      [title]="'Bill Total'"
      [logoSrc]="'assets/icons/scroll-icon.svg'"
      [amount]="(final$ | async)!"
    ></app-amount-display>
  </div>
  <app-tax-discount-panel></app-tax-discount-panel>
  <div class="individual-cont-panel" (click)="calcFinalTotal()">
    Inspect Expense Breakdown
    <img src="assets/icons/right-arrow-icon.svg" alt="" />
  </div>
</div>
