.details-panel {
  .total-amount {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 20px;
  }

  .individual-cont-panel {
    margin-top: 24px;
    img {
      margin-left: 8px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:hover {
        filter: invert(10%) sepia(90%) saturate(5268%) hue-rotate(245deg)
          brightness(109%) contrast(155%);
      }
    }
  }
}
