<!-- Modal HTML -->
<img
  id="remove-button"
  mat-icon-button
  tabindex="-1"
  src="../../../assets/cancel.png"
  (click)="dialogRef.close()"
/>

<div class="dialog-body">
  <div class="table-stats-container">
    <div class="table-wrap">
      <app-break-up-table [dataSource]="dataMatTable"></app-break-up-table>
    </div>
  <app-graph-container></app-graph-container> 
  </div>
  <div class="footer-panel">
    <div class="data-panel">
      <app-break-up-info></app-break-up-info>
    </div>
    <div class="ind-summary" (click)="viewSummary()">
      <span>individual summary</span>
      <img src="assets/icons/right-arrow-icon.svg" alt="" />
    </div>
  </div>
</div>
