<!-- Modal HTML -->
<div #DetailModal id="detailModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <h3 class="modal-title" id="title">Split Up</h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="myModal.hide()"></button>
      </div>
      <div class="modal-body">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- food amount Column -->
          <ng-container matColumnDef="food_amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Food total </th>
            <td mat-cell *matCellDef="let element"> {{element.food_amount}} </td>
          </ng-container>
        
          <!-- split amount Column -->
          <ng-container matColumnDef="split_amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Split Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.split_amount}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>
        
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

