<div class="panel-wrapper mx-5 shadow-sm mb-3 mt-3 rounded card-container">
  <img
    id="remove-button"
    src="../../../assets/cancel-icon.svg"
    (click)="removePalette()"
  />
  <div class="panel">
    <div class="item-info">
      <input
        #dishName
        [(ngModel)]="foodData.name"
        class="dish-name"
        (change)="changes('name')"
      />
      <img class="dish-logo" src="../../../assets/dish.png" alt="dish.png" />
      <span class="dish-rate"
        >₹
        <input
          type="number"
          [(ngModel)]="foodData.price"
          (change)="changes('price')"
      /></span>
    </div>
    <div
      [id]="foodData.ID"
      cdkDropList
      [cdkDropListAutoScrollDisabled]="true"
      class="consumers-palette mx-3 shadow-lg p-3 card-container"
      (cdkDropListDropped)="drop($event)"
    >
      <span *ngIf="!participants.length" class="placeholder-text lead"
        >Add contributors by dragging profiles here.</span
      >
      <div *ngFor="let participant of participants" class="people-palette">
        <app-advanced-profile
          [participant]="participant"
          [price]="foodData.price"
          (removeParticipant)="removeParticipant($event)"
        ></app-advanced-profile>
      </div>
    </div>
  </div>
  <div class="total-wrapper">
    Total :
    <span class="total-rate shadow-lg"
      >₹ {{ foodData.totalContributions }}</span
    >
  </div>
</div>
