#remove-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 22px;
  height: 22px;
  opacity: 0.8;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.panel {
  display: flex;
}
.panel-wrapper {
  position: relative;
  background-color: rgb(236, 238, 255);
  padding: 0.6rem 0.4rem 0.3rem 0.3rem;
}

.item-info {
  justify-content: center;
  display: flex;
  input {
    border-radius: 20px;
    text-align: center;
    border: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  .dish-logo {
    width: 45px;
  }
  .dish-rate {
    margin-top: 6px;
    margin-left: -5px;
    input {
      width: 80px;
    }
  }
}

.consumers-palette {
  flex-grow: 1;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .placeholder-text {
    font-size: 0.9rem;
    opacity: 0.6;
    width: 100%;
    text-align: center;
  }
}

.bottom-menu {
  display: flex;
  margin-top: 6px;
  .options-panel {
    margin-left: 50px;
    display: flex;
    margin-top: -3px;
    img {
      width: 22px;
      height: 22px;
      margin: 0px 3px;
      opacity: 0.8;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
  .total-wrapper {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: auto;
    font-size: 0.8rem;
    font-weight: 500;

    .total-rate {
      margin-left: 6px;
      background-color: rgb(236, 238, 255);
      border-radius: 5px;
      padding: 1px 8px;
      text-align: center;
      border: none;
    }
  }
}

//cdk drag and drop
.cdk-drop-list-dragging {
  background: rgba(100, 255, 229, 0.104);
}

// for disbling spinner on number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 576px) {
  :host {
    min-width: 100%;
  }
  .panel-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 90%;
    margin: 6px 6px !important;
    #remove-button {
      top: 4px;
      right: 4px;
    }
    .panel {
      display: flex;
      flex-direction: column;
      height: 91%;

      .item-info {
        gap: 2px;
        padding: 4px;
      }

      .consumers-palette {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 4px;
        overflow-x: auto;
        padding: 6px;
      }
    }
  }
}
