<div class="panel mx-5 shadow-sm p-3 mb-3 mt-3 rounded card-container">
  <img
    id="remove-button"
    src="../../../assets/cancel-icon.svg"
    (click)="removePalette()"
  />
  <div class="item-info">
    <input [(ngModel)]="foodData.name" class="dish-name" (change)="changes()" />
    <img class="dish-logo" src="../../../assets/dish.png" alt="dish.png" />
    <span class="dish-rate"
      >₹ <input [(ngModel)]="foodData.price" (change)="changes()"
    /></span>
  </div>
  <div class="consumers-palette mx-3 shadow-lg p-3 card-container"></div>
</div>
