
@import "../../styles/palette.scss";

#main-wrapper {
  display: flex;
  height: calc(100vh - 45px);
  background-image: linear-gradient(
      rgba(24, 24, 38, 0.95),
      rgba(26, 26, 27, 0.99)
    ),
    url("../../../assets/cover/cov5.jpg");
  
  background-size: cover;
  background-repeat: no-repeat;
}

.bill-card {
  flex-grow: 1;
}

.right-panel {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  app-details-panel{
   
  }
  app-profile-list{

  }
}

@media only screen and (max-width: 576px) {
  #main-wrapper {
    flex-direction: column;
    height: unset;
  }

  .bill-card {
    height: 60vh;
    min-height: 450px;
  }

  .right-panel {
    padding-top: 0 !important;
    display: flex;
    flex-direction: column-reverse;
  }
}