<div class="home-container">
  <div class="bg-img">
    <div class="blur"></div>
  </div>
  <div class="content">
    <div class="navbar">
      <span class="title"><img src="../../../favicon.ico" alt="" /></span>
      <span class="nav-options">
        <span class="nav-option selected">Home</span>
        <span class="nav-option">About Us</span>
        <span class="nav-option">Contact</span>
      </span>
      <span class="right-options"></span>
    </div>
    <div class="main-content">
      <div class="hero">
        <h1 class="title">
          Split Me, Your ultimate food bill splitting solution.
        </h1>
        <div class="hero-content lead">
          We understand the challenges and hassles that come with splitting the
          bill after a delightful meal with friends or colleagues. That's why
          we've created a user-friendly and feature-rich
          <span class="highlight">food bill splitting</span> application to make your dining
          experiences stress-free and enjoyable.<br />
          <span class="highlight">Split Me</span> is here to rescue you from the clutches of confusing math and
          awkward bill-splitting debates.
        </div>
        <div class="btn-stack">
          <a routerLink="/app" class="action-btn launch">Launch App</a>
          <button class="action-btn">Get Started</button>
        </div>
      </div>
      <div class="banner">
        <img src="../../../assets/homepage/hero-2.png" alt="" />
      </div>
    </div>
  </div>
</div>
