<div class="help-wrapper">
  <div class="sidebar">
    <ul>
      <li
        (click)="showPage(Pages.About)"
        [class.active]="currentDisplay === Pages.About"
      >
        <a class="menu-item">
          <span class="item-logo">
            <img src="../.././../assets/sidebar_info.svg" />
          </span>
          <span class="item-text">About</span></a
        >
      </li>
      <li
        (click)="showPage(Pages.Help)"
        [class.active]="currentDisplay === Pages.Help"
      >
        <a class="menu-item">
          <span class="item-logo">
            <img src="../.././../assets/help.svg" />
          </span>
          <span class="item-text">Help</span></a
        >
      </li>
      <li
        (click)="showPage(Pages.KeyboardShortcuts)"
        [class.active]="currentDisplay === Pages.KeyboardShortcuts"
      >
        <a class="menu-item">
          <span class="item-logo">
            <img src="../.././../assets/keyboard.svg" />
          </span>
          <span class="item-text">Keyboard Shortcuts</span></a
        >
      </li>
      <li
        (click)="showPage(Pages.ReleaseNotes)"
        [class.active]="currentDisplay === Pages.ReleaseNotes"
      >
        <a class="menu-item">
          <span class="item-logo">
            <img src="../.././../assets/notes.svg" />
          </span>
          <span class="item-text">Release Notes</span></a
        >
      </li>
    </ul>
  </div>

  <div class="content">
    <ng-container [ngSwitch]="currentDisplay">
      <app-about-page *ngSwitchCase="Pages.About"></app-about-page>
      <app-instructions-page *ngSwitchCase="Pages.Help"></app-instructions-page>
      <app-keyboard-shortcuts
        *ngSwitchCase="Pages.KeyboardShortcuts"
      ></app-keyboard-shortcuts>
      <app-release-notes *ngSwitchCase="Pages.ReleaseNotes"></app-release-notes>
    </ng-container>
  </div>
</div>
