.profile-wrapper {
  display: flex;
  cursor: grab;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 5px 10px;
  width: 40px;
  .image-wrapper {
    position: relative;
  }
  img {
    width: 34px;
    height: 34px;
  }
  span {
    font-size: 0.8rem;
  }
}
#remove-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 18px;
  height: 18px;
  opacity: 0.8;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
