.profile-wrapper {
  display: flex;
  cursor: grab;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 5px 10px;
  width: 40px;
  .image-wrapper {
    position: relative;
  }
  img {
    width: 34px;
    height: 34px;
  }
  span {
    font-size: 0.8rem;
  }
  #remove-button {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 17px;
    height: 17px;
    opacity: 0.9;
    filter: grayscale(1);

    &:hover {
      cursor: pointer;

      filter: none;
      opacity: 1;
    }
  }

  #tick-img {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 17px;
    height: 17px;
    opacity: 1;
  }
}
