.preview-profile-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: -50px;
  width:130px;
  div {
    position: absolute;
    background-color: rgb(131, 77, 255);
    color: white;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    top: -6px;
    left: 73px;
    font-size: 0.55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  img {
    width: 34px;
    height: 34px;
  }
  span {
    font-size: 0.8rem;
  }
}
