@import "./styles/palette.scss";

#main-wrapper {
  display: flex;
  height: calc(100vh - 45px);
}

.bill-card {
  flex-basis: 75%;
  background-color: $card-color;
}

.right-panel {
  flex-basis: 25%;
}

@media only screen and (max-width: 576px) {
  #main-wrapper{
    flex-direction: column;
    height: unset;
  }

  .bill-card{
    height: 60vh;
    min-height: 450px;
  }

  .right-panel{
    display: flex;
    flex-direction: column-reverse;
  }
}