@import "./styles/palette.scss";

#main-wrapper {
  display: flex;
  height: calc(100vh - 45px);
}

.bill-card {
  flex-basis: 75%;
  background-color: $card-color;
}

.right-panel {
  flex-basis: 25%;
}
