#main-wrapper {
  display: flex;
  height: 100vh;
}

.bill-card {
  flex-basis: 70%;
  //  overflow-y: auto;
}

.food-items-wrapper {
  overflow-y: auto;
  height: calc(100% - 30px);
}

.people-card {
  flex-basis: 30%;
}

// (+) add button

.btn-lg {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  span {
    
    padding-bottom: 5px;
    font-size: 35px;
    font-weight: bold;
    color:white;
  }
}
//

// webkits

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #acb0c3;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #56565a;
}
