@import "../../styles/palette.scss";
$component-width: 250px;
$block-bg: $card-color;
$title-bg: rgb(9, 16, 43);
.info-container {
  //border: 1px solid $border-line;
  //border-radius: 3px;
  width: $component-width;
  .individual-name {
    display: flex;
    font-size: 0.85rem;
    border-bottom: 1px solid $border-line;
    border-radius: 4px 4px 0px 0px;
    padding: 7px 0px;
    background: $title-bg;

    justify-content: center;
    color: rgb(218, 218, 218);
    span {
      text-transform: capitalize;
    }
  }
  .table {
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 0px;
    .table-header {
      display: flex;
      width: 100%;
      background: $block-bg;
      padding: 5px 0px;
      color: rgb(236, 236, 236);
      .header-item {
        text-align: center;
        text-transform: capitalize;
      }
    }
    .table-content {
      .table-row {
        color: #bdc4dd;
        display: flex;
        width: 100%;
        background: rgb(60 60 80);
        &:nth-of-type(odd) {
          background: #414157;
        }
      }
    }
  }
  .amounts-container {
    display: flex;
    span {
      flex: 1 1 50%;
      text-align: center;
      background: $block-bg;
      margin-top: 2px;
      padding: 6px 0px;
      color: rgb(219, 219, 219);
      font-size: 0.75rem;
      &:first-child {
        margin-right: 1px;
        border-radius: 0px 0px 0px 4px;
      }
      &:last-child {
        margin-left: 1px;
        border-radius: 0px 0px 4px 0px;
      }
    }
  }
}

.table-data {
  text-align: left;
  padding: 5px;
}

.table-data-food,
.header-item-food {
  flex: 1 1 45%;
}
.table-data-portion,
.header-item-portion {
  flex: 1 1 20%;
}
.table-data-price,
.header-item-price {
  flex: 1 1 35%;
}
.table-data-food {
  font-size: 0.7rem;
  text-align: center;
}
.table-data-price {
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .info-container {
    width: 240px;
    .individual-name {
      padding: 4px 0px;
    }
    .table {
      .table-header {
        padding: 4px 0px;
      }
    }
    .amounts-container {
      span {
        font-size: 0.65em;
        padding: 2px 0;
      }
    }
  }
  .table-data-food {
    font-size: 0.5.5rem;
  }

  .table-data-food,
  .header-item-food,
  .table-data-portion,
  .header-item-portion,
  .table-data-price,
  .header-item-price {
    font-size: 0.7rem;
  }
  .table-data-portion {
    padding-left: 10px;
  }
}
