@import "../../styles/palette.scss";
.menu-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 16px;
  gap: 20px;
  height: 30px;
  .option-button {
    img {
      width: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }
  .download-button {
    position: relative;
    img {
      width: 25px;
    }
    .sub-menu {
      position: absolute;
      background: $primary-color;
      width: 170px;
      top: 30px;
      right: 1px;
      display: none;
      z-index: 1;
      .menu-item {
        padding: 8px 8px;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        border-bottom: 1px solid $border-line;
        img {
          width: 20px;
          margin-right: 6px;
        }
        &:hover {
          img {
            transform: scale(1.05);
          }
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
  }
  .close-button {
    filter: grayscale(1);
    &:hover {
      filter: none;
    }
  }
  .filter {
    filter: $theme-filter;
  }
}

.dialog-content {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.dialog-body {
  overflow-y: auto;
  margin-top: 40px;

  .summary-container {
    padding-top: 8px; //for export content top padding

    .tables-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .table-item {
        margin: 18px 10px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .menu-wrap {
    .option-button {
      width: 28px;
      height: 28px;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  .dialog-body {
    margin-top: 35px;

    .summary-container {
      .tables-container {
        .table-item {
          margin: 8px 10px;
        }
      }
    }
  }
}
