<div class="dialog-content">
  <div class="menu-wrap">
    <span
      class="option-button"
      matTooltip="view on phone"
      (click)="downloadAs('qr')"
      ><img class="filter" src="assets/summary/qr.svg" alt="QR Icon" />
    </span>
    <span
      class="option-button download-button"
      matTooltip="download"
      (click)="onDownload()"
    >
      <div
        class="lead sub-menu rounded shadow-lg"
        [style.display]="isDownloadOptions ? 'block' : 'none'"
      >
        <div class="menu-item" (click)="downloadAs('img')">
          <span><img src="../../../assets/img-icon.svg" alt="" /></span>
          <div>Download Image</div>
        </div>
        <div class="menu-item" (click)="downloadAs('pdf')">
          <span><img src="../../../assets/pdf-icon.svg" alt="" /></span>
          <div>Download PDF</div>
        </div>
      </div>
      <img
        class="filter"
        src="assets/summary/download.svg"
        alt="download Icon"
      />
    </span>
    <span class="option-button close-button" matTooltip="close"
      ><img
        src="../../../assets/cancel.png"
        alt="close"
        (click)="dialogRef.close()"
      />
    </span>
  </div>
  <div class="dialog-body">
  <div #SummaryBody class="summary-container" (click)="onBodyClicked()">
      <div class="tables-container">
        <div class="table-item" *ngFor="let user of summary">
          <app-summary-table [summaryData]="user"></app-summary-table>
        </div>
      </div>
    </div>
  </div>
</div>
