<div class="dialog-content">
  <div class="menu-wrap">
    <span
      class="qr-icon-wrap"
      matTooltip="view on phone"
      (click)="downloadAs('qr')"
      ><img
        class="qr-icon-button"
        src="../../../assets/qr-icon.svg"
        alt="QR Icon"
    /></span>
    <span class="download-wrapper"
      ><img
        matTooltip="download"
        class="option-button"
        id="download"
        src="../../../assets/downlaod.png"
        alt="download"
        (click)="onDownload()"
      />
      <div
        class="lead sub-menu rounded shadow-lg"
        [style.display]="isDownloadOptions ? 'block' : 'none'"
      >
        <div class="menu-item" (click)="downloadAs('img')">
          <span><img src="../../../assets/img-icon.svg" alt="" /></span>
          <div>Download Image</div>
        </div>
        <div class="menu-item" (click)="downloadAs('pdf')">
          <span><img src="../../../assets/pdf-icon.svg" alt="" /></span>
          <div>Download PDF</div>
        </div>
      </div>
    </span>
    <span
      ><img
        class="option-button"
        matTooltip="close"
        src="../../../assets/cancel.png"
        alt="close"
        (click)="dialogRef.close()"
      />
    </span>
  </div>
  <div class="dialog-body">
    <div #SummaryBody class="summary-container" (click)="onBodyClicked()">
      <div id="img-container">
        <img src="../../../assets/split-me-logo.png" alt="logo" />
      </div>

      <div class="tables-container">
        <div class="table-item" *ngFor="let user of summary">
          <app-summary-table [summaryData]="user"></app-summary-table>
        </div>
      </div>
    </div>
  </div>
</div>
