@import "../../styles/palette.scss";
$imp-color: $primary-button;
.upload-files-container {
  padding: 30px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .warn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 6px 16px;
    border-radius: 4px;
    width: 100%;
    background-color: $primary-color;
    img {
      width: 15px;
      margin-right: 2px;
    }
    span {
      font-size: 0.8rem;
      font-weight: 300;
    }
  }
  .drag-file-area {
    border: 2px dashed $primary-color;
    border-radius: 30px;
    margin: 10px 0 15px;
    padding: 20px 50px;
    width: 350px;
    text-align: center;

    .upload-icon {
      width: 50px;
    }
    h3 {
      font-size: 1.2rem;
      margin: 15px 0;
      font-family: Tahoma, sans-serif;
    }
    label {
      font-size: 1rem;
      display: block;
      .browse-files {
        .default-file-input {
          height: 0px;
          opacity: 0;
        }
        .browse-files-text {
          color: $imp-color;
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
  }
  .after-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    border: 1px solid $border-line;
    border-radius: 8px;
    padding: 10px 10px;
    width: 100%;

    .file-info {
      img {
        width: 18px;
        margin-right: 4px;
      }
      span {
        font-size: 0.8rem;
      }
    }
    .reset-file-picker {
      color: $imp-color;
      font-weight: bolder;
      cursor: pointer;
    }
  }
  .bill-display-container {
    width: 100%;
  }
  .item-review-wrapper {
    height: 320px;
    width: 100%;
    padding: 6px 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
  }
  .review-options-panel {
    margin-top: 12px;
    margin-right: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    .parse-option {
      font-size: 0.8rem;
      padding: 8px 16px;
      text-align: center;
      cursor: pointer;
      border-radius: 4px;
      background-color: #3e3d65;
      text-transform: capitalize;
      &:hover {
        filter: brightness(1.1);
      }
    }
    .palette-add-button {
      background: $imp-color;
      img {
        width: 18px;
        filter: invert(1);
        margin-left: 2px;
      }
    }
  }

  .bottom-panel {
    margin-top: 12px;
    .upload-button {
      font-size: 0.9rem;
      padding: 8px 25px;
      text-align: center;
      cursor: pointer;
      border-radius: 4px;
      font-family: Helvetica, sans-serif;
      background-color: #3e3d65;
      text-transform: capitalize;
      font-weight: bold;
      color: white;
      border: none;
      &:disabled {
        cursor: not-allowed;
        color: #e6e6e6;
        opacity: 0.6;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .upload-files-container {
    overflow: hidden;
    .warn-box {
      width: 100%;
      padding: 2px 8px;
      img {
        width: 12px;
        margin-right: 4px;
      }
      [data-alttext] > span {
        display: none;
      }

      [data-alttext]::before {
        content: attr(data-alttext);
        font-size: 0.7rem;
      }
    }
    .drag-file-area {
      padding: 20px 20px;
      width: 90%;
      .upload-icon {
        width: 40px;
      }
      h3 {
        font-size: 1rem;
        margin: 10px 0;
      }
      label {
        font-size: 0.9rem;
      }
    }

    .after-upload {
      gap: 4px;
      padding: 4px 8px;
      width: 100%;

      .file-info {
        img {
          width: 15px;
          margin-right: 3px;
        }
        span {
          font-size: 0.65rem;
        }
      }
    }
  }
}
