<div class="upload-files-container">
  <div class="warn-box">
    <img src="../../../assets/warning.png" alt="warning.png" />
    <span data-alttext="experimental feature, verify parsed values"
      ><span
        >This is an experimental feature, please verify and update parsed
        values</span
      >
    </span>
  </div>
  <div
    *ngIf="fileFlag"
    appDragDrop
    class="drag-file-area"
    (fileDropped)="fileUpdate($event)"
  >
    <img src="../../../assets/import.png" class="upload-icon" />
    <h3>Drag & drop any file here</h3>
    <label class="label">
      <span>or</span>
      <span class="browse-files">
        <input
          #fileInput
          type="file"
          (click)="fileInput.value = ''"
          (change)="onFileInput($event)"
          class="default-file-input"
        />

        <span class="browse-files-text">browse file </span>
        <span class="static-text">from device</span>
      </span>
    </label>
  </div>
  <div *ngIf="!fileFlag" class="after-upload mb-2">
    <div class="file-info">
      <img src="../../../assets/green-tick.png" alt="" />
      <span>{{ fileName }} | {{ fileSize }}</span>
    </div>
    <div class="reset-file-picker" (click)="fileFlag = true; parsedItems = []">
      choose another file
    </div>
  </div>
  <div
    *ngIf="!fileFlag && parsedItems.length == 0"
    class="bill-display-container"
    [ngStyle]="{ opacity: uploadStart ? 0.3 : 1 }"
  >
    <app-bill-image-preview
      [image]="file"
      (cropped)="cropImgBlob = $event"
      (billType)="parseType = $event"
    ></app-bill-image-preview>
  </div>
  <div *ngIf="parsedItems.length == 0" class="bottom-panel">
    <button
      *ngIf="!uploadStart"
      [disabled]="fileFlag"
      (click)="upload()"
      type="button"
      class="upload-button"
    >
      Scan Receipt
    </button>
    <mat-spinner
      *ngIf="uploadStart"
      color="blue"
      mode="indeterminate"
      diameter="45"
      color
    ></mat-spinner>
  </div>
  <div *ngIf="parsedItems.length > 0">
    <div class="item-review-wrapper shadow-lg">
      <div *ngFor="let item of parsedItems; let i = index" class="review item">
        <app-ocr-parse-review
          [index]="i"
          [item]="item"
          (remove)="removeParsedItem(i)"
        ></app-ocr-parse-review>
      </div>
    </div>
    <div class="review-options-panel">
      <div class="parse-option" (click)="parsedItems = []">Go Back</div>
      <div class="parse-option palette-add-button" (click)="addPalettes()">
        Add Palettes
        <img src="assets/icons/right-arrow-icon.svg" alt="" />
      </div>
    </div>
  </div>
</div>
