<div
  class="profile-wrapper"
  (contextmenu)="onContextMenu($event)"
  (click)="onContextMenu($event)"
>
  <span class="name">{{ participant.name }}</span>
  <img
    src="../../../assets/user-logo-2.png"
    alt="user.png"
    [style.filter]="color"
  />
  <span class="price">₹ {{ participant.contribution }}</span>
</div>
<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<!-- context menu -->
<mat-menu #contextMenu="matMenu" class="individual-menu">
   <app-individual-menu
   [participant]="participant"
   [price]="price"
   (removeParticipant)="remove()"
   ></app-individual-menu> 
</mat-menu>
