<div
  class="profile-wrapper"
  (contextmenu)="onContextMenu($event)"
  (click)="onContextMenu($event)"
>
  <span class="name">{{ participant.name }}</span>
  <img src="../../../assets/user-logo-2.png" alt="user.png" />
  <span class="price">₹ {{ participant.contribution }}</span>
</div>
<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<!-- context menu -->
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <div class="portions-container">
      <div class="portions">
        <button matTooltip="half portion" (click)="onPortionModifier(0.5)">
          <sup>1</sup>/<sub>2</sub>
        </button>
        <button
          matTooltip="one-third portion"
          (click)="onPortionModifier(0.3333)"
        >
          <sup>1</sup>/<sub>3</sub>
        </button>
        <button matTooltip="quarter portion" (click)="onPortionModifier(0.25)">
          <sup>1</sup>/<sub>4</sub>
        </button>
      </div>
      <div class="portions">
        <button matTooltip="1 portion" (click)="onPortionModifier(1)">1</button>
        <button matTooltip="2 portions" (click)="onPortionModifier(2)">
          2
        </button>
        <button matTooltip="3 portions" (click)="onPortionModifier(3)">
          3
        </button>
        <button matTooltip="4 portions" (click)="onPortionModifier(4)">
          4
        </button>
      </div>
    </div>

    <hr />
    <div class="custom-input-wrapper">
      <input
        #customInput
        type="text"
        class="form-control"
        placeholder="custom"
        (click)="$event.stopPropagation()"
      />
      <button class="btn" (click)="updateCustom(customInput.value)">ok</button>
    </div>
    <hr />
    <div class="delete-wrapper" (click)="remove()">
      <img src="../../../assets/delete-icon.svg" alt="delete.png" />
      <span matTooltip="Remove user">Remove</span>
    </div>
  </ng-template>
</mat-menu>
