<div class="panel-content lead">
  <div class="stat-item">
    <img class="stat-icon" src="assets/icons/scroll-icon.svg" alt="icon" />
    <span class="stat"
      ><span class="label">Dish Expense </span><span class="seperator">-</span>
      {{
        totalFoodBill | currency : "INR" : "symbol" : "1.2-2" : "en-US"
      }}</span
    >
  </div>
  <div class="stat-item">
    <img
      class="stat-icon icon-jump"
      src="assets/icons/user-icon.svg"
      alt="icon"
    />
    <span class="stat"
      ><span class="label">Contributors </span><span class="seperator">-</span>
      {{ participants }}</span
    >
  </div>
  <div class="stat-item">
    <img
      class="stat-icon icon-jump"
      src="assets/icons/dish-icon.svg"
      alt="icon"
    />
    <span class="stat"
      ><span class="label">Dish Count </span><span class="seperator">-</span>
      {{ totalDishes }}</span
    >
  </div>
  <div class="stat-item">
    <img class="stat-icon" src="assets/icons/rupee-icon.svg" alt="icon" />
    <span class="stat"
      ><span class="label">Final Expense </span
      ><span class="seperator">-</span>
      {{ finalTotal | currency : "INR" : "symbol" : "1.2-2" : "en-US" }}</span
    >
  </div>
</div>
