@import "../../styles/palette.scss";
.panel-content {
  height: 100%;
  display: flex;
  .stat-item {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;

    img {
      filter: $theme-filter;
      width: 20px;
      margin-right: 6px;
    }
    .stat {
      font-size: 0.9rem;
    }
    .seperator {
      opacity: 0.5;
    }
    .icon-jump {
      margin-top: -2px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .panel-content {
    flex-direction: column;
    margin-top: 20px;
    .stat-item {
      flex-basis: inherit;
      flex-grow: inherit;
      margin-bottom: 4px;
      img {
        width: 16px;
        margin-right: 8px;
      }
      .stat {
        font-size: 0.8rem;
      }
    }
  }
}
