.tax-discount-panel {
    display: flex;
    font-size: 1rem;

    .td-panel-item {
      margin-top: 20px;
      .td-label {
        margin-left: 16px;
      }
      &:first-child {
        margin-right: 32px;
      }
    }
    .input-wrap {
      margin-top: 4px;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      input {
        width: 90px;

        margin-left: 4px;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }