<!-- Modal HTML -->
<div class="title">
  <p>ADD PROFILE</p>
</div>

<form [formGroup]="angForm" novalidate>
  <div class="form-group">
    <label>Name:</label>
    <input
      #ModalInput
      class="form-control shadow-none"
      formControlName="name"
      type="text"
    />
  </div>
  <div
    *ngIf="
      angForm.controls['name'].invalid &&
      (angForm.controls['name'].dirty || angForm.controls['name'].touched)
    "
    class="is-invalid"
  >
    <div *ngIf="angForm.controls['name'].errors?.['required']">
      Name is required.
    </div>
    <div *ngIf="angForm.controls['name'].errors?.['duplicate']">
      profile already exists.
    </div>
  </div>
  <div class="actions-panel">
    <button type="button" class="btn btn-secondary" (click)="dialogRef.close()">
      CANCEL
    </button>
    <button
      type="submit"
      [mat-dialog-close]="angForm.value['name']"
      class="btn btn-primary"
      [disabled]="angForm.pristine || angForm.invalid"
    >
      ADD
    </button>
  </div>
</form>
