@import "../../styles/palette.scss";
.title {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  p {
    margin: 0;
    font-size: 0.9rem;
    color: whitesmoke;
  }
}

.is-invalid {
  margin: 10px 0px;
  color: rgb(255, 0, 0);
  font-size: 0.8rem;
  margin: 2px 0px;
}
label {
  font-size: 0.9rem;
  color: rgb(189, 189, 189);
  margin-bottom: 4px;
}
.form-control {
  background: $primary-color;
  color: white;
 border: none;
}
.btn {
  box-shadow: none;
  border: 0;
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 12px;
}

.btn-secondary {
  background-color: #3e3d65;
  color: whitesmoke;
}

.actions-panel {
  display: flex;
  justify-content: flex-end;
}

form {
  padding: 12px 20px;
}
