/* You can add global styles to this file, and also import other style files */
@import "./app/styles/palette.scss";

html,
body {
  height: 100%;
  color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.highlight {
  color: rgb(254 221 147);
}

.mat-mdc-autocomplete-panel.food-autocomplete {
  background: #2e2e49;
  .mat-mdc-option {
    min-height: 38px;
    border-top: 1px solid $border-line;

    font-family: "Tahoma", sans-serif;
    font-size: 0.85rem;
    .mdc-list-item__primary-text {
      color: white;
      opacity: 0.8;
    }
  }
}

//mat-menu styling
.mat-mdc-menu-panel.individual-menu {
  background: rgba(24, 24, 38, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid $border-line;
}
.individual-menu .mat-mdc-menu-content {
  padding: 0;
}

.contribution-graph-menu .mat-mdc-menu-content {
  padding: 0px;
}
.mat-mdc-menu-panel.contribution-graph-menu {
  background: rgba(24, 24, 38, 0.7);
  border-radius: 10px;
  border: 1px solid $border-line;
}

//modal theming
.split-me-modal {
  .mat-mdc-dialog-container {
    .mdc-dialog__surface {
      background: rgba(10, 10, 19, 0.75);
      border-radius: 10px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      border: 1px solid $border-line;
    }
  }
}

.toast-container > div {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

//socket-toast
.socket-title {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 6px;
  margin-left: 2px;
  color: #F38851;
  text-transform: capitalize;
}
.socket-toast {
  margin: 6px 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  background-color: #3e3d65;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid $border-line;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  color: #ffffff;
}

//unselectable
.not-selectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
// webkits

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $primary-color;
}
::-webkit-scrollbar-thumb {
  background: #3e3d65;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2e315e;
}

@media only screen and (max-width: 576px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}
