<div class="content">
  <div class="logo">
    <img src="../../../../assets/main-logo.png" alt="logo" />
  </div>
  <div class="header lead">Release Notes</div>
  <div class="release-container">
    <h1 id="header">Split-Me Release notes 2.0 🚀</h1>
    <h3 id="improvements">improvements 🛠️</h3>
    <ul>
      <li>New Navigation panel and Help menu</li>
      <li>New Hamburger Menu and theme</li>
      <li>Added options to report issues and links to the Repo</li>
      <li>UI improvements</li>
      <li>New info Dialog (few pages to be implemented)</li>
      <li>Minor perfomance improvements</li>
    </ul>
    <h3 id="bug-fixes">bug fixes 🐞</h3>
    <ul>
      <li>Fixed nested Modals issue</li>
      <li>Fixed tooltips not showing on top nested Modals</li>
      <li>Fixed backdrop closing using Esc Key</li>
      <li>Minor UI Bug fixes</li>
    </ul>
    <h4 id="previous-release-notes">
      previous release notes :
      <a
        href="https://github.com/jobeljohny/split-me/blob/main/release%20notes/release-notes.md"
        >releases</a
      >
    </h4>
  </div>
</div>
