<div #itemWrapper class="food-items-wrapper shadow">
  <div class="food-items" [ngClass]="{ expand: !(palettes$ | async)?.length }">
    <div
      *ngIf="(palettes$ | async)?.length"
      class="item-panel-wrapper"
      [@cardAnimation]="(palettes$ | async)?.length"
    >
      <app-food-item-panel
        style="display: block"
        *ngFor="let palette of palettes$ | async; let i = index"
        [foodData]="palette"
        [paletteIds]="(paletteIds$ | async)!"
        (removePanel)="removeFoodTile($event)"
      ></app-food-item-panel>
    </div>
    <div *ngIf="!(palettes$ | async)?.length" class="instruction-wrapper px-3">
      <div class="add-food-wrapper">
        <img
          class="new-food-logo"
          src="../../../assets/dish-home.svg"
          alt="dish.png"
        />
        <span class="lead help-placeholder"
          >To add your first dish, simply click on the add button</span
        >
        <div class="btn-stack">
          <button
            matTooltip="add new palette"
            type="button"
            (click)="onAddFoodPalette()"
          >
            <img src="../../../assets/icons/plus-icon.svg" alt="" />
            <span class="lead">Add Dishes</span>
          </button>
          <button matTooltip="extract from receipt" (click)="onImportBill()">
            <img src="../../../assets/icons/receipt-icon.svg" alt="" />
            <span class="lead">Scan Receipt</span>
          </button>
        </div>
      </div>
      <div class="help-bar">
        <span>
          First Date with <span class="highlight"> Split Me</span>? No worries,
          It won't ghost you!</span
        >
        <button (click)="openDialog()">Get Started</button>
      </div>
    </div>
  </div>
  <span
    *ngIf="(palettes$ | async)?.length"
    class="add-action"
    style="display: flex; justify-content: center"
  >
    <button
      matTooltip="add new palette"
      [@buttonAnimation]="(palettes$ | async)?.length"
      type="button"
      class="add-btn"
      (click)="onAddFoodPalette()"
    >
      <span>+</span>
    </button>
  </span>
</div>
