.food-items-wrapper {
  overflow-y: auto;
  height: calc(100% - 30px);
  .instruction-wrapper {
    margin-bottom: 26px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 200px;
      opacity: 0.4;
    }
    .help-placeholder {
      margin-top: 20px;
      font-size: 1rem;
      width: 100%;
      opacity: 0.6;
      text-align: center;
    }
  }
}

.btn-lg {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  span {
    font-size: 28px;
    font-weight: bold;
    color: white;
  }
}
